<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="container">
  <h2>Reset Your Password</h2>
  <p th:if="${message}" th:text="${message.message}" th:style="'color: ' + ${message.type.color}"></p>
  <form th:action="@{/reset-password-post}" th:object="${resetPasswordDTO}" method="post">
    <input type="hidden" th:field="*{operationUid}"/>
    <div>
      <label for="password">New Password:</label>
      <input type="password" id="password" th:field="*{password}" placeholder="Enter your new password">
    </div>
    <div>
      <label for="password2">Confirm New Password:</label>
      <input type="password" id="password2" th:field="*{password2}" placeholder="Confirm your new password">
    </div>
    <button type="submit">Reset Password</button>
  </form>
</div>
</body>
</html>