<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="container">
    <h2>Retrieve your password</h2>
    <p th:if="${message}" th:text="${message.message}" th:style="'color: ' + ${message.type.color}"></p>
    <form action="/retrieve-password-start" method="get">
        <label for="email">e-mail:</label>
        <input type="email" id="email" name="email" required placeholder="your e-mail">
        <button type="submit">Send </button>
    </form>
</div>
</body>
</html>