<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chronic Diesases Search</title>
    <link rel="stylesheet" th:href="@{/css/footer-fragment.css}">
    <link rel="stylesheet" th:href="@{/css/menu-fragment.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Funkcja do pobierania i wyświetlania dodanych lekarstw
            function loadOwnedCD() {
                fetch("/find-owned-chronic-diseases", {
                    method: 'GET',
                    credentials: 'same-origin', // To send cookies with the request
                })
                    .then(response => response.json())
                    .then(data => {
                        var ownedDrugsDiv = document.getElementById("ownedDrugs");
                        ownedDrugsDiv.innerHTML = ""; // Wyczyść poprzednie wyniki
                        data.forEach(drug => {
                            var drugElement = document.createElement("div");
                            drugElement.textContent = drug.name;

                            // Tworzenie przycisku "-"
                            var removeButton = document.createElement("button");
                            removeButton.textContent = "-";
                            removeButton.addEventListener("click", function() {
                                fetch("/remove-chronic-disease?name=" + drug.name)
                                    .then(response => {
                                        if (response.ok) {
                                            alert("Drug removed successfully!");
                                            loadOwnedCD(); // Refresh owned drugs after removing one
                                        } else {
                                            alert("Error removing disease");
                                        }
                                    })
                                    .catch(error => console.error('Error removing disease:', error));
                            });

                            drugElement.appendChild(removeButton);
                            ownedDrugsDiv.appendChild(drugElement);
                        });
                    })
                    .catch(error => console.error('Error fetching owned disease:', error));
            }

            loadOwnedCD(); // Load owned drugs when the page loads

            var debounceTimeout;
            var debounceDelay = 300; // Opóźnienie w milisekundach

            document.getElementById("searchInput").addEventListener("input", function() {
                clearTimeout(debounceTimeout);
                var query = this.value;

                debounceTimeout = setTimeout(function() {
                    if (query.length > 0) { // Tylko wykonuj zapytania, jeśli jest coś wpisane
                        fetch("/find-chronic-diseases?str=" + query)
                            .then(response => response.json())
                            .then(data => {
                                var resultsDiv = document.getElementById("results");
                                resultsDiv.innerHTML = ""; // Wyczyść poprzednie wyniki
                                data.forEach(drug => {
                                    var drugElement = document.createElement("div");
                                    drugElement.textContent = drug.name;

                                    // Tworzenie przycisku "+"
                                    var addButton = document.createElement("button");
                                    addButton.textContent = "+";
                                    addButton.addEventListener("click", function() {
                                        fetch("/add-chronic-disease?name=" + drug.name)
                                            .then(response => {
                                                if (response.ok) {
                                                    alert("disease added successfully!");
                                                    loadOwnedCD(); // Refresh owned drugs after adding a new one
                                                } else {
                                                    alert("Error adding cd");
                                                }
                                            })
                                            .catch(error => console.error('Error adding cd:', error));
                                    });

                                    drugElement.appendChild(addButton);
                                    resultsDiv.appendChild(drugElement);
                                });
                            })
                            .catch(error => console.error('Error fetching data:', error));
                    } else {
                        document.getElementById("results").innerHTML = ""; // Wyczyść wyniki, jeśli pole jest puste
                    }
                }, debounceDelay);
            });
        });
    </script>
</head>
<body>
<div th:replace="~{fragments/menu-fragment :: menu}"></div>

<div class="container">

<h1 class="gradient-text">Chronic Disease Search</h1>
<input type="text" id="searchInput" placeholder="Enter drug name">
<div id="results"></div>
    <br>
    <br>
    <br>
<h2 class="gradient-text">Owned Diseases</h2>
<div id="ownedDrugs"></div>

</div>

<div th:replace="~{fragments/footer-fragment :: footer-fragment}"></div>
</body>
</html>
