<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Email Confirmation</title>
</head>
<body>
<div class="container">
    <h2>Email Confirmation</h2>
    <p>Thank you for registering with our service. To activate your account, please click the button below:</p>
    <p style="text-align: center;">
        <a href="https://google.com" class="button">Confirm Your Email</a>
    </p>
    <p>If you did not register for our service, please ignore this email.</p>
    <div class="footer">
        © 2024 DiagnoseYourself. All rights reserved.
    </div>
</div>
</body>
