<!DOCTYPE html>
<html lang="en">
<body>
<footer th:fragment="footer-fragment">
    <div class="footer-container">
        <p>&copy; 2024 DiagnoseYourself. All rights reserved.</p>
        <ul>
            <li>
                <a href="#" class="tooltip">Privacy Policy
                    <span class="tooltiptext">We collect personal and usage data to provide and improve our services. We don’t sell your data but may share it with partners or as required by law. We protect your data but can’t guarantee complete security.</span>
                </a>
            </li>
            <li>
                <a href="#" class="tooltip">Contact
                    <span class="tooltiptext">Email: michal.malek679@gmail.com <br><br> Tel: +786 821 012</span>
                </a>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>
