<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chose Diagnoses</title>
    <link rel="stylesheet" th:href="@{/css/footer-fragment.css}">
    <link rel="stylesheet" th:href="@{/css/menu-fragment.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div th:replace="~{fragments/menu-fragment :: menu}"></div>

<div class="container">
<h1>Diagnoses</h1>
<ul>
    <li th:each="diagnose : ${diagnoses}">
        <form th:action="@{/chose-diagnose/{id}(id=${diagnose.id})}" method="get">
            <p th:text="${diagnose.date}"></p>
            <button type="submit" th:text="${diagnose.name}">Diagnose Name</button>
        </form>
    </li>
</ul>
</div>

<div th:replace="~{fragments/footer-fragment :: footer-fragment}"></div>
</body>
</html>
